@model GestionTareas.Modelos.Usuario

@{
    ViewData["Title"] = "Detalles Desarrollador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
<h1>Información</h1>

<div>
    <h4>Desarrolador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Apellido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            FechaRegistro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
		<h3>Tareas asignadas</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Prioridad</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var tarea in Model.Tareas)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => tarea.Nombre)</td>
						<td>@Html.DisplayFor(modelItem => tarea.Descripcion)</td>
						<td>@Html.DisplayFor(modelItem => tarea.FechaInicio)</td>
						<td>@Html.DisplayFor(modelItem => tarea.FechaFin)</td>
						<td>@Html.DisplayFor(modelItem => tarea.Prioridad)</td>
						<td>@Html.DisplayFor(modelItem => tarea.Estado)</td>
					</tr>
				}
			</tbody>
		</table>
</div>
</div>